{include file="index/header" /}

<link rel="stylesheet" type="text/css" href="__CSS__/loginstyle.css" />	
<div><img class="passport" src="__IMAGE__/passport.jpg" /> </div>	
<div class="container">
    <section id="content" >
        <form action="{:url('index/login/logining')}" method="POST" name="form" target="_parent">
            <h1>登录</h1>
            <div>
                <input type="text" name="name" class="username" placeholder="用户名">
            </div>
            <div>
                <input type="password" name="password" class="password" placeholder="密码">
            </div>
            <div>
                <input  placeholder="请输入验证码" name="captcha" class="captcha">
                <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" width="150px" height="50px" />
            </div>
            <div>
                <input class="submit" type="submit" value="登 录" />
                <a href="{:Url('index/login/register')}" target="_parent">没有账号，请注册</a>
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->
{include file="index/footer" /}
