{include file="index/header" /}

<div class="main person-data bgc-eee">
  <div class="sc-position">
    <div class="wrap" style="position: relative;left: -725px;">
    当前位置 : <a href="{:Url('index/')}" target="_parent">首页</a> &gt; <a href="{:Url('index/member/changepsw')}" target="_parent">会员中心</a> &gt; <a href="#" target="_parent">修改密码</a>
    </div>
  </div>
  <div  class="person-content wrap bgc-fff">
    <div class="fl person-left">
      <ul>
      <li class="icon1">
        <a href="{:Url('index/member/person')}" target="_parent">个人资料</a><br>
        <a href="#" target="_parent" class="on">修改密码</a><br>
      </li>
      <li class="icon2">
        <a href="" target="_parent">我的订单</a><br>
      </li>
      <li class="icon3">
        <a href="" target="_parent">我的发表</a><br>
        <a href="" target="_parent">我的评论</a><br>

      </li>
      </ul>
    </div>
    <div class="person-detial-right">
      <form action="changepassword" method="post" enctype="multipart/form-data" name="form2" onsubmit="return checkSubmit();" class="logform" id="resetpwd" target="_parent">
        <table>
          <tr>
            <td><input type="password" id="oldpassword" name="oldpassword" placeholder="旧密码"/></td>
          </tr>
          <tr>
            <td><input name="newpassword" type="password" id="newpassword" class="intxt" placeholder="新密码"/>
            <span id="_userpwdok">(不修改密码请保留此项为空)</span></td>
          </tr>
          <tr>
            <td><input name="newpassword1" type="password" id="newpassword1" value="" class="intxt" placeholder="确认新密码" />
            <span id="_userpwdok2">(不修改密码请保留此项为空)</span> </span></td>
          </tr>
          <tr>
            <td>
            <input name="vdcode" type="text" id="vdimgck"  placeholder="验证码"/>
            <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" width="150px" height="50px" />
            </td>
          </tr>

          <tr>
             <td><input type="submit" id="btnResign" value="确认修改"></td>
          </tr>
        </table>
      </form>
      <!--主操作区域 -->
    </div>
  </div>
</div>

{include file="index/footer" /}
